html, body {
  height: 100%;

   scroll-behavior: auto;
}

body {
  font-family: 'Open Sans', sans-serif;


}

h1, h2, h3, p,
section {
  width: 700px;
  margin: 0 auto;
}

h1 {
  font-size: 70px;
  font-weight: 900;
  /* text-align: center; */
  /* margin-top: 100px; */
}

h2 {
  position: relative;

  margin-top: 50px;

  color: #413E3E;

  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  margin-top: 50px;

  color: #412234;

  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
}
h4{
    margin-top: 50px;

    color: yellow;

    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;

}
p {
  margin-top: 30px;

  font-size: 20px;
  line-height: 1.5;
}
a {
text-decoration: none;

  color: #fff
}

body {
  background-image: url(images/7.jpg);
}

header {
  display: flex;
  flex-direction: column;

  height: 100%;

  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%), url(images/5.jpg);
  background-size: cover;

  align-items: stretch;
  justify-content:  space-around;
}

header h1,
header p {
  text-align: center;

  color: white;
}

.section {
  color: #fff;
  background-position: center;
  background-size: cover;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav ul {
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;

  display: flex;

  width: 850px;
  margin: 0 auto;
  padding: 10px 15px;

  letter-spacing: 1px;
  text-transform: uppercase;

  background-color: #412234;

  font-size: 14px;

  justify-content: space-between;
}

.content{
    display: flex;
    flex-direction: column;

    width: 700px;
    margin: 0 auto;
}
.content-block{
  width: 100%;
}
.content-block>img{
  top: auto;
  left:  auto;

  width: 100%;

  background-image: url(images/IMG_3026.JPG);
  background-position: center;
  background-size: contain;
}
.content-block>h3+img{
  margin-top: 30px;
}
.zakhar-description{
  display: flex;
  flex-direction: row;

  width: 100%;
  width: 700px;
margin-top: 50px;

  justify-content:space-around;
  align-items:center;
}
.zakhar-text{
  width: 450px;
}
.zakhar-text>p{
  width: 100%;

  font-family: 'Source Sans Pro', sans-serif;

}
.strelki{
  position: absolute;

  margin-left: 30px;
}
.zakhar-photo-column{
  display: flex;

  width: 100px;
  height:100%;
}
.zakhar-photo-column img{
  width: 100%;

}
.about{

}
.about-content{
  display: flex;
  flex-direction: row;

  margin-top: 20px;

  flex-wrap: wrap;
  align-content: center;
  justify-content:space-around;
}
.about-content img{
  margin: 20px 0;
}
.about-events{
    display: flex;
    flex-direction: column;

  width: 300px;
  height: 300px;

    text-align: center;

    justify-content:  center;
}
.about-events p{
  width: auto;

  color:  black;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight:  bold;
}
.about-events>div{
      display: flex;
      flex-direction: row;

margin: 20px;


}

#about-photo-1{
  width: 240px;
  height: 300px;

}
#about-photo-2{
  width:400px;
  height: 300px;


}
.program-container{
      display: flex;
      flex-direction: row;

      margin-top: 30px;

      justify-content:space-around;
}
.program{
  width: 150px;
}
.program img{
  width:100%;
}
.program-text>p{
  width: 150px;

text-align:  center;

  font-family: 'Source Sans Pro', sans-serif;
 font-weight: bold;
}
.spisok{
  height: 350px;
 margin-top: 50px;

  background-image: url(images/IMG_3262.jpg);

 font-family: 'Source Sans Pro', sans-serif;

 align-self: center;

}
.spisok>.photo1 {
  width: 200px;
}
.spisok>ul{
  margin-left : 50px;

  list-style-type: circle;

color: #FFF;
}
.kotik {
  width: 700px;
  height: 820px;
margin-top: 50px;

  opacity: 50%;
  background-image: url(images/IMG_3265.jpg);

  justify-content: center;
}
.kotik>.aboutkotik {
  display:flex;

  width: 180px;
margin-left: 90px;

text-align:  center;
}

.kotik>.aboutkotik>p {
  opacity: 0.5;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
font-weight: bold;
  }
